:root{
  --Verydarkblue: hsl(233, 47%, 7%);
  --Dark-desaturate: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);


  --White : hsl(0, 0%, 100%);
  --Slightly: hsla(0, 0%, 100%, 0.75);
  --Slightly-b: hsla(0, 0%, 100%, 0.6);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

body{
  font-size: 1.5rem;
  font-family: 'Lexend Deca', sans-serif;
  display: grid;
  min-height: 100vh;
  width: 100vw;
  place-items: center;
  background-color: var(--Verydarkblue);
}

.card{
  width: 36rem;
  border-radius: 1.25rem;
  overflow: hidden;
  background-color: var(--Dark-desaturate);
}

.card picture{
  position: relative;
  z-index: 1;
}

.card picture::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:var(--Soft-violet);
  z-index: 100;
  opacity: 0.65;
  filter: brightness(60%);

}

.card__img{
  width: 100%;
  display: block;
}

.card__content{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-block: 4rem;
  padding-inline:3.7rem;
  text-align: center;

}

.card__content h1{
  color: var(--White);

}
.card__content h1 span{
  color: var(--Soft-violet);
}

.card__content p {
  color: var(--Slightly);
  line-height: 1.5;
}

.card__stats{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.card__stats li{
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  font-size: 2.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: var(--White);

}

.card__stats li span{
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--Slightly-b);
  letter-spacing: 2px;
}

@media (min-width:980px){
  .card{
    width: 92rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }

  .card__img{
    grid-column:  2 / 3;
    grid-row: 1 / 2;
  }

  .card__content{
    text-align: left;
    grid-column: 1/2;
    grid-row: 1 / 2;
    padding-left: 4rem;

  }

  .card__stats{
    flex-direction: row;
  }
}